{
	"openapi": "3.0.3",
	"info": {
		"title": "SarrafPro API v1",
		"version": "1.0.0",
		"description": "SarrafPro sürümlü dış API yüzeyi. Cari hesaplar, uyum kayıtları, banka hesapları ve hareketleri okunabilir; fatura ve gider pusulası oluşturulup gönderilebilir; KMTS etiket/işaret kodları sorgulanabilir. Kimlik doğrulama HTTP Basic'tir: base64(apiUserId:secretKey). Tüm yanıtlar sabit zarf formatındadır: başarılı yanıtta success/data/meta, hatalı yanıtta success/error{code,message,details}/traceId. Her yanıtta x-request-id başlığı döner ve traceId ile aynıdır."
	},
	"servers": [
		{
			"url": "https://api.sarraf.pro",
			"description": "Canlı ortam"
		}
	],
	"security": [
		{
			"BasicAuth": []
		}
	],
	"tags": [
		{
			"name": "Customers",
			"description": "Cari hesaplar ve uyum — listeleme, detay, müşteri tanı oluşturma, kayıt/sicil sorgusu, tanı formları, kimlik belgeleri, yaptırım sorguları ve sicil geçmişi",
			"x-group": "Müşteriler"
		},
		{
			"name": "Bank accounts",
			"description": "Banka hesapları, bakiyeler ve sorgu tetikleme",
			"x-group": "Banka"
		},
		{
			"name": "Bank transactions",
			"description": "Gelen/giden banka hareketleri — detayda gömülü MASAK özeti",
			"x-group": "Banka"
		},
		{
			"name": "Invoices",
			"description": "Fatura oluşturma ve gönderimi, kesilen faturalar ve kalem şablonları",
			"x-group": "Faturalar"
		},
		{
			"name": "Expenses",
			"description": "Gider pusulası oluşturma, kesinleştirme ve kayıtlar",
			"x-group": "Giderler"
		},
		{
			"name": "KMTS",
			"description": "KMTS güvenlikli etiket/işaret doğrulaması ve firma sorgu geçmişi",
			"x-group": "KMTS"
		}
	],
	"paths": {
		"/v1/customers": {
			"get": {
				"operationId": "listCustomers",
				"summary": "Cari hesap listesi",
				"description": "Şirkete ait cari hesapları sayfalı, filtreli ve sıralı listeler. Bilinmeyen filter alanı 400 VALIDATION_FAILED döner. Muhasebe/e-ticaret incremental senkronizasyonu için updatedSince + sort=updatedAt:asc önerilir.",
				"tags": ["Customers"],
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"required": false,
						"description": "Sayfa numarası (en az 1).",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"default": 1
						}
					},
					{
						"name": "pageSize",
						"in": "query",
						"required": false,
						"description": "Sayfa başına kayıt (1-100).",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100,
							"default": 25
						}
					},
					{
						"name": "sort",
						"in": "query",
						"required": false,
						"description": "Sıralama: alan:asc|desc. İzinli alanlar: createdDate, lastDate, updatedAt, nameSurname. Varsayılan createdDate:asc.",
						"schema": {
							"type": "string",
							"pattern": "^(createdDate|lastDate|updatedAt|nameSurname)(:(asc|desc))?$"
						},
						"example": "updatedAt:asc"
					},
					{
						"name": "q",
						"in": "query",
						"required": false,
						"description": "Serbest metin arama. Numerik değer idNo tam eşleşmesi, metin değer nameSurname içinde büyük/küçük harf duyarsız arama yapar.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "idType",
						"in": "query",
						"required": false,
						"description": "Kayıt türüne göre filtre.",
						"schema": {
							"type": "string",
							"enum": ["person", "company"]
						}
					},
					{
						"name": "idCardType",
						"in": "query",
						"required": false,
						"description": "Belge türüne göre filtre. idCard seçimi; alanı eksik, null veya boş olan legacy kayıtları da kapsar.",
						"schema": {
							"type": "string",
							"enum": ["idCard", "passport", "dlCard", "other"]
						}
					},
					{
						"name": "recordLevel",
						"in": "query",
						"required": false,
						"description": "Kayıt seviyesi: 0 kayıt yok (alanı olmayan kayıtları da kapsar), 1 normal, 2 güvenli, 3 riskli, 4 yasaklı.",
						"schema": {
							"type": "integer",
							"minimum": 0,
							"maximum": 4
						}
					},
					{
						"name": "isVerify",
						"in": "query",
						"required": false,
						"description": "Müşteri tanı (doğrulama) durumuna göre filtre.",
						"schema": {
							"type": "boolean"
						}
					},
					{
						"name": "isValid",
						"in": "query",
						"required": false,
						"description": "Kimlik doğrulama (TCKN/NVI) durumuna göre filtre.",
						"schema": {
							"type": "boolean"
						}
					},
					{
						"name": "isPhoto",
						"in": "query",
						"required": false,
						"description": "Fotoğraf/belge görseli varlığına göre filtre.",
						"schema": {
							"type": "boolean"
						}
					},
					{
						"name": "saveType",
						"in": "query",
						"required": false,
						"description": "Kaydın oluşma kaynağına göre filtre.",
						"schema": {
							"type": "string",
							"enum": ["bank", "manual", "idCard", "accord", "api"]
						}
					},
					{
						"name": "label",
						"in": "query",
						"required": false,
						"description": "Tekil etiket ile filtre.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "updatedSince",
						"in": "query",
						"required": false,
						"description": "ISO-8601 tarih; yalnız bu tarihte veya sonra güncellenen kayıtlar döner (updatedAt >=).",
						"schema": {
							"type": "string",
							"format": "date-time"
						},
						"example": "2026-09-01T00:00:00.000Z"
					}
				],
				"responses": {
					"200": {
						"description": "Başarılı liste yanıtı.",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CustomerListResponse"
								}
							}
						}
					},
					"400": {
						"description": "Doğrulama hatası (geçersiz sayfalama, sort, filter veya q).",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"401": {
						"description": "Kimlik doğrulama başarısız.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Beklenmeyen sunucu hatası.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			},
			"post": {
				"operationId": "createCustomer",
				"summary": "Hızlı cari ekleme",
				"description": "Doğrudan cari (müşteri) kaydı oluşturur; kayıt anında kullanılabilir ve saveType daima \"api\" olur. Aynı idNo ile kayıt varsa 409 CONFLICT döner ve details içinde existingId verilir. idType=company ve customerRelation gönderilirse temsilci/ortak kaydı da oluşur. Salt okunur alanlar (recordLevel, isVerify, isValid, isPhoto, saveType, source*, docTypes, year, companiesId, userId vb.) gönderilirse 400 döner. Müşteri tanı (KYC) formu açmak için POST /v1/customers/verifications kullanılır.",
				"tags": ["Customers"],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CustomerCreateRequest"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Müşteri kaydı oluşturuldu.",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CustomerCreateResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"409": {
						"description": "Aynı idNo ile müşteri kaydı zaten var (details[0].existingId mevcut kaydı gösterir).",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/customers/{id}": {
			"get": {
				"operationId": "getCustomer",
				"summary": "Cari hesap detayı",
				"description": "Tek cari hesabın geniş kaydını döner. PII alanları (motherName, fatherName, birthplace vb.) yalnız bu uçta yer alır. Ayrıca gömülü uyum özeti döner: verification (müşteri tanı formu durumu; idNo yoksa null), masak (idNo bazlı son sorgu özeti; hiç sorgu yoksa null) ve events (sicil olayı sayısı + en yeni olay; tam liste GET /v1/customers/events ile alınır).",
				"tags": ["Customers"],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"description": "Kayıt kimliği (ObjectId).",
						"schema": {
							"type": "string",
							"pattern": "^[a-fA-F0-9]{24}$"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Başarılı detay yanıtı.",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CustomerDetailResponse"
								}
							}
						}
					},
					"400": {
						"description": "Geçersiz id biçimi.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"401": {
						"description": "Kimlik doğrulama başarısız.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Kayıt bulunamadı.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Beklenmeyen sunucu hatası.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/v1/bank-transactions": {
			"get": {
				"operationId": "listBankTransactions",
				"summary": "Banka hareketleri listesi",
				"description": "Şirkete ait banka gelen/giden hareketlerini sayfalı, filtreli ve sıralı listeler. incoming=true yalnız gelen hareketleri döner. Bilinmeyen filter alanı 400 VALIDATION_FAILED döner. Incremental senkronizasyon için updatedSince + sort=updatedAt:asc önerilir.",
				"tags": ["Bank transactions"],
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"required": false,
						"description": "Sayfa numarası (en az 1).",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"default": 1
						}
					},
					{
						"name": "pageSize",
						"in": "query",
						"required": false,
						"description": "Sayfa başına kayıt (1-100).",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100,
							"default": 25
						}
					},
					{
						"name": "sort",
						"in": "query",
						"required": false,
						"description": "Sıralama: alan:asc|desc. İzinli alanlar: transactionDate, createdDate, updatedAt, amount. Varsayılan transactionDate:asc.",
						"schema": {
							"type": "string",
							"pattern": "^(transactionDate|createdDate|updatedAt|amount)(:(asc|desc))?$"
						},
						"example": "transactionDate:desc"
					},
					{
						"name": "q",
						"in": "query",
						"required": false,
						"description": "Serbest metin arama. Numerik değer idNo tam eşleşmesi, metin değer nameSurname içinde büyük/küçük harf duyarsız arama yapar.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "incoming",
						"in": "query",
						"required": false,
						"description": "true: yalnız gelen hareketler, false: yalnız giden hareketler.",
						"schema": {
							"type": "boolean"
						}
					},
					{
						"name": "status",
						"in": "query",
						"required": false,
						"description": "İşlem durumu: 0 bekleyen, 1 işlem yapıldı, 2 yok sayıldı.",
						"schema": {
							"type": "integer",
							"enum": [0, 1, 2]
						}
					},
					{
						"name": "masakStatus",
						"in": "query",
						"required": false,
						"description": "MASAK tarama sonucu: 0 sorgulanmadı, 1 sorun yok, 2 sorunlu. Örn. sorunlu işlemler: masakStatus=2",
						"schema": {
							"type": "integer",
							"enum": [0, 1, 2]
						}
					},
					{
						"name": "idNo",
						"in": "query",
						"required": false,
						"description": "Gönderici TCKN/VKN tam eşleşme.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "currency",
						"in": "query",
						"required": false,
						"description": "Para birimi (büyük harfe normalize edilir).",
						"schema": {
							"type": "string"
						},
						"example": "TRY"
					},
					{
						"name": "bankCode",
						"in": "query",
						"required": false,
						"description": "Banka kodu.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "startDate",
						"in": "query",
						"required": false,
						"description": "ISO-8601 tarih; transactionDate >= startDate.",
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "endDate",
						"in": "query",
						"required": false,
						"description": "ISO-8601 tarih; transactionDate <= endDate.",
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "updatedSince",
						"in": "query",
						"required": false,
						"description": "ISO-8601 tarih; yalnız bu tarihte veya sonra güncellenen kayıtlar döner (updatedAt >=).",
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Başarılı liste yanıtı.",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BankTransactionListResponse"
								}
							}
						}
					},
					"400": {
						"description": "Doğrulama hatası (geçersiz sayfalama, sort veya filter).",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"401": {
						"description": "Kimlik doğrulama başarısız.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Beklenmeyen sunucu hatası.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/v1/bank-transactions/{id}": {
			"get": {
				"operationId": "getBankTransaction",
				"summary": "Banka hareketi detayı",
				"description": "Tek banka hareketinin geniş kaydını döner. Cevabın masak bölümü, işlem göndericisinin idNo'suna ait en son MASAK/WANTED/PEP sorgu kaydını gömer; hiç sorgulanmadıysa status 0 ve lastQueriedAt null döner.",
				"tags": ["Bank transactions"],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"description": "Kayıt kimliği (ObjectId).",
						"schema": {
							"type": "string",
							"pattern": "^[a-fA-F0-9]{24}$"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Başarılı detay yanıtı.",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BankTransactionDetailResponse"
								}
							}
						}
					},
					"400": {
						"description": "Geçersiz id biçimi.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"401": {
						"description": "Kimlik doğrulama başarısız.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Kayıt bulunamadı.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Beklenmeyen sunucu hatası.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/v1/customers/verifications": {
			"get": {
				"operationId": "listComplianceVerifications",
				"summary": "Müşteri tanı formu listesi (KYC/Accord)",
				"description": "Şirkete ait müşteri tanı formu kayıtlarını sayfalı, filtreli ve sıralı listeler. Silinmiş formlar varsayılan olarak dönmez; isDeleted=true ile sorgulanabilir. Bilinmeyen filter alanı 400 VALIDATION_FAILED döner.",
				"tags": ["Customers"],
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"required": false,
						"description": "Sayfa numarası (en az 1).",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"default": 1
						}
					},
					{
						"name": "pageSize",
						"in": "query",
						"required": false,
						"description": "Sayfa başına kayıt (1-100).",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100,
							"default": 25
						}
					},
					{
						"name": "sort",
						"in": "query",
						"required": false,
						"description": "Sıralama: alan:asc|desc. İzinli alanlar: createdAt, updatedAt, nameSurname. Varsayılan createdAt:asc.",
						"schema": {
							"type": "string",
							"pattern": "^(createdAt|updatedAt|nameSurname)(:(asc|desc))?$"
						}
					},
					{
						"name": "q",
						"in": "query",
						"required": false,
						"description": "Serbest metin arama. Numerik değer idNo tam eşleşmesi, metin değer nameSurname içinde arama yapar.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "idNo",
						"in": "query",
						"required": false,
						"description": "TCKN/VKN tam eşleşme.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "idType",
						"in": "query",
						"required": false,
						"description": "Kayıt türü.",
						"schema": {
							"type": "string",
							"enum": ["person", "company"]
						}
					},
					{
						"name": "idCardType",
						"in": "query",
						"required": false,
						"description": "Belge türü. idCard seçimi; alanı eksik, null veya boş olan legacy kayıtları da kapsar.",
						"schema": {
							"type": "string",
							"enum": ["idCard", "passport", "dlCard", "other"]
						}
					},
					{
						"name": "isApproval",
						"in": "query",
						"required": false,
						"description": "Form onay durumu.",
						"schema": {
							"type": "boolean"
						}
					},
					{
						"name": "isSigned",
						"in": "query",
						"required": false,
						"description": "İmza durumu.",
						"schema": {
							"type": "boolean"
						}
					},
					{
						"name": "isDeleted",
						"in": "query",
						"required": false,
						"description": "Silinme durumu. Verilmezse yalnız silinmemiş kayıtlar döner.",
						"schema": {
							"type": "boolean"
						}
					},
					{
						"name": "masakStatus",
						"in": "query",
						"required": false,
						"description": "MASAK tarama sonucu: 0 sorgulanmadı, 1 sorun yok, 2 sorunlu.",
						"schema": {
							"type": "integer",
							"enum": [0, 1, 2]
						}
					},
					{
						"name": "startDate",
						"in": "query",
						"required": false,
						"description": "ISO-8601 tarih; createdAt >= startDate.",
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "endDate",
						"in": "query",
						"required": false,
						"description": "ISO-8601 tarih; createdAt <= endDate.",
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "updatedSince",
						"in": "query",
						"required": false,
						"description": "ISO-8601 tarih; yalnız bu tarihte veya sonra güncellenen kayıtlar döner (updatedAt >=).",
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Başarılı liste yanıtı.",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/VerificationListResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			},
			"post": {
				"operationId": "createCustomerVerification",
				"summary": "Müşteri tanı formu oluşturma",
				"description": "Müşteri tanı (KYC) formatında yeni kayıt oluşturur: onay bekleyen bir form yazılır (isApproval daima false doğar; API doğrudan onaylı müşteri yaratmaz; onay panel akışında tamamlanır). Aynı idNo ile onay bekleyen form varsa 409 CONFLICT döner ve details içinde existingId verilir. Salt okunur alanlar (isApproval, masakStatus, companiesId vb.) gönderilirse 400 döner. idType=company iken companyDocuments (taxDoc, activeDoc, registryDoc, signDoc) kabul edilir: Accord ile aynı doğrulama (PDF/JPEG/PNG, belge başına en fazla 2 MiB, uzantı ve dosya imzası kontrolü) uygulanır, içerik güvenli geçici depoya yazılır ve panel onayında kimlik servisine taşınır. Kimlik/pasaport görselleri için POST /v1/customers/identity-documents kullanılır.",
				"tags": ["Customers"],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/VerificationCreateRequest"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Müşteri tanı formu oluşturuldu; durum takibi GET /v1/customers/verifications/{id} ile yapılır.",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/VerificationCreateResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"409": {
						"description": "Aynı idNo ile onay bekleyen form zaten var (details[0].existingId mevcut kaydı gösterir).",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/customers/verifications/{id}": {
			"get": {
				"operationId": "getComplianceVerification",
				"summary": "Müşteri tanı formu detayı",
				"description": "Tek formun geniş kaydını döner. Belge içerikleri dönmez; companyDocuments yalnız dosya metası (fileName, mimeType, size) içerir.",
				"tags": ["Customers"],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"description": "Kayıt kimliği (ObjectId).",
						"schema": {
							"type": "string",
							"pattern": "^[a-fA-F0-9]{24}$"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Başarılı detay yanıtı.",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/VerificationDetailResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/customers/identity-documents": {
			"get": {
				"operationId": "listComplianceIdentityDocuments",
				"summary": "Kimlik belge kayıtları listesi",
				"description": "Şirkete ait kimlik belge kayıtlarını (doğrulama durumlarıyla) listeler. Geçersiz (isDisabled) kayıtlar varsayılan olarak dönmez; isDisabled=true ile sorgulanabilir. Bilinmeyen filter alanı 400 VALIDATION_FAILED döner.",
				"tags": ["Customers"],
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"required": false,
						"description": "Sayfa numarası (en az 1).",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"default": 1
						}
					},
					{
						"name": "pageSize",
						"in": "query",
						"required": false,
						"description": "Sayfa başına kayıt (1-100).",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100,
							"default": 25
						}
					},
					{
						"name": "sort",
						"in": "query",
						"required": false,
						"description": "Sıralama: alan:asc|desc. İzinli alanlar: createdAt, updatedAt, validityDate. Varsayılan createdAt:asc.",
						"schema": {
							"type": "string",
							"pattern": "^(createdAt|updatedAt|validityDate)(:(asc|desc))?$"
						}
					},
					{
						"name": "idNo",
						"in": "query",
						"required": false,
						"description": "Belge sahibi TCKN/VKN tam eşleşme.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "type",
						"in": "query",
						"required": false,
						"description": "Belge türü.",
						"schema": {
							"type": "string",
							"enum": ["unknown", "front", "rear", "accord", "signature", "addressDoc", "activeDoc", "registryDoc", "taxDoc", "signDoc"]
						}
					},
					{
						"name": "channel",
						"in": "query",
						"required": false,
						"description": "Yükleme kanalı.",
						"schema": {
							"type": "string",
							"enum": ["manual", "whatsapp", "idv", "accord"]
						}
					},
					{
						"name": "idCheck",
						"in": "query",
						"required": false,
						"description": "NVİ kimlik doğrulaması geçti mi.",
						"schema": {
							"type": "boolean"
						}
					},
					{
						"name": "isApproval",
						"in": "query",
						"required": false,
						"description": "idNo doğrulama durumu.",
						"schema": {
							"type": "boolean"
						}
					},
					{
						"name": "isDisabled",
						"in": "query",
						"required": false,
						"description": "Geçersizlik durumu. Verilmezse yalnız geçerli kayıtlar döner.",
						"schema": {
							"type": "boolean"
						}
					},
					{
						"name": "startDate",
						"in": "query",
						"required": false,
						"description": "ISO-8601 tarih; createdAt >= startDate.",
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "endDate",
						"in": "query",
						"required": false,
						"description": "ISO-8601 tarih; createdAt <= endDate.",
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "updatedSince",
						"in": "query",
						"required": false,
						"description": "ISO-8601 tarih; yalnız bu tarihte veya sonra güncellenen kayıtlar döner (updatedAt >=).",
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Başarılı liste yanıtı.",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/IdentityDocumentListResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			},
			"post": {
				"operationId": "createIdentityDocument",
				"summary": "Kimlik/pasaport belge görseli yükleme",
				"description": "Müşteri tanı (accord) akışı için kimlik veya pasaport görseli yükler. Görsel base64 olarak gövdede gelir; belge servisine yüklenir ve kayıt oluşur. Cevapta görsel içerik veya görsel referansı dönmez. verificationId verilirse kayıt o müşteri tanı formuyla ilişkilendirilir.",
				"tags": ["Customers"],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/IdentityDocumentCreateRequest"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Belge yüklendi ve kayıt oluşturuldu.",
						"headers": {
							"x-request-id": {
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/IdentityDocumentCreateResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					},
					"502": {
						"description": "Belge yükleme servisi hatası.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/v1/customers/identity-documents/{id}": {
			"get": {
				"operationId": "getComplianceIdentityDocument",
				"summary": "Kimlik belge kaydı detayı",
				"description": "Tek belge kaydının geniş halini döner: description ve OCR/doğrulama sonucu (data). Görsel içerik veya görsel referansı dönmez.",
				"tags": ["Customers"],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"description": "Kayıt kimliği (ObjectId).",
						"schema": {
							"type": "string",
							"pattern": "^[a-fA-F0-9]{24}$"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Başarılı detay yanıtı.",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/IdentityDocumentDetailResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/invoices": {
			"get": {
				"operationId": "listInvoices",
				"summary": "Fatura listesi",
				"description": "Sistem üzerinden kesilen faturaları sayfalı, filtreli ve sıralı listeler. Kalem satırları (lines) bu uçta dönmez; detay ucundadır. Bilinmeyen filter alanı 400 VALIDATION_FAILED döner.",
				"tags": ["Invoices"],
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"required": false,
						"description": "Sayfa numarası (en az 1).",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"default": 1
						}
					},
					{
						"name": "pageSize",
						"in": "query",
						"required": false,
						"description": "Sayfa başına kayıt (1-100).",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100,
							"default": 25
						}
					},
					{
						"name": "sort",
						"in": "query",
						"required": false,
						"description": "Sıralama: alan:asc|desc. İzinli alanlar: transactionDate, payableTotal. Varsayılan transactionDate:asc.",
						"schema": {
							"type": "string",
							"pattern": "^(transactionDate|payableTotal)(:(asc|desc))?$"
						}
					},
					{
						"name": "q",
						"in": "query",
						"required": false,
						"description": "Serbest metin arama. Numerik değer idNo tam eşleşmesi, metin değer müşteri ünvanı (customer.name) içinde arama yapar.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "idNo",
						"in": "query",
						"required": false,
						"description": "Müşteri TCKN/VKN tam eşleşme.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "invoiceNumber",
						"in": "query",
						"required": false,
						"description": "Fatura numarası tam eşleşme.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "type",
						"in": "query",
						"required": false,
						"description": "Fatura türü (invoiceInfo.type).",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "startDate",
						"in": "query",
						"required": false,
						"description": "ISO-8601 tarih; transactionDate >= startDate.",
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "endDate",
						"in": "query",
						"required": false,
						"description": "ISO-8601 tarih; transactionDate <= endDate.",
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Başarılı liste yanıtı.",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvoiceListResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			},
			"post": {
				"operationId": "createInvoice",
				"summary": "Fatura oluşturma ve gönderimi",
				"description": "Fatura oluşturur ve e-belge servisine gönderir. İki kaynak desteklenir:\n\n- `source: \"bankTransaction\"` — aktif bir banka hesabına bağlı, faturalandırılmamış gelen banka hareketinden. Hesap pasifse önizleme, taslak ve gönderim `409 BANK_ACCOUNT_INACTIVE` ile reddedilir. Panel ile API aynı atomik gönderim sahipliğini kullanır; eşzamanlı ikinci istek `409` alır. Daha önce faturalanmış hareket yalnız firma yöneticisinin panelden verdiği tek kullanımlık yetki sonrasında ve istekte `allowReissue: true` açık onayıyla yeniden gönderilebilir.\n- `source: \"manual\"` — banka hareketine bağlı olmayan serbest fatura. Tutar, şablon ve ödeme bilgisi istekte verilir.\n\nBaşarılı gönderimde **201** döner ve `invoiceId` ile fatura `GET /v1/invoices/{id}` üzerinden okunabilir. `isDraft: true` gönderildiğinde e-belge servisinde yalnız taslak oluşturulur; resmî fatura kesilmez, gönderim kilidi veya yeniden gönderim yetkisi tüketilmez, `invoiceId` ve `totals` boş döner ve yanıt **200**'dür.\n\nMükerrer gönderim koruması kaynak bazlıdır: banka hareketi zaten faturalandırılmışsa, gönderiliyorsa veya kontrol bekliyorsa 409 döner; serbest faturada aynı gün + aynı kimlik + aynı tutar için kesilmiş fatura varsa 409 döner ve `allowDuplicate: true` ile bilinçli olarak aşılabilir.",
				"tags": ["Invoices"],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/InvoiceCreateRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Taslak oluşturuldu (isDraft: true). Resmî fatura kesilmedi.",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvoiceCreateResponse"
								}
							}
						}
					},
					"201": {
						"description": "Fatura oluşturuldu ve gönderildi.",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvoiceCreateResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"409": {
						"description": "Çakışma veya mükerrer fatura. Pasif hesaba bağlı banka hareketinde kod `BANK_ACCOUNT_INACTIVE` olur. Hareket başka bir gönderimce sahiplenilmiş, kontrol bekliyor, yeniden gönderim yetkisi/onayı eksik ya da aynı gün/kimlik/tutar ile serbest fatura kesilmiş de olabilir; `error.details[0].rule` nedeni gösterir.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"422": {
						"description": "İş kuralı hatası (TCKN/VKN doğrulanamadı, kalemler hatalı, tutar çok düşük, hızlı fatura tanımları eksik vb.).",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					},
					"502": {
						"description": "E-belge servisi hatası. Sonucun timeout, bağlantı kopması veya 5xx nedeniyle kesinleştirilemediği durumda kod `UPSTREAM_RESULT_UNCERTAIN`, `details[0].state` değeri `review_required` ve `retryable` değeri false olur; aynı banka hareketini otomatik tekrar göndermeyin.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/v1/invoices/{id}": {
			"get": {
				"operationId": "getInvoice",
				"summary": "Fatura detayı",
				"description": "Tek faturanın geniş kaydını döner: tam müşteri bloğu, fatura kalem satırları (lines) ve tam belge bilgisi (invoiceInfo). Fatura PDF/görsel içeriği bu uçta yoktur.",
				"tags": ["Invoices"],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"description": "Kayıt kimliği (ObjectId).",
						"schema": {
							"type": "string",
							"pattern": "^[a-fA-F0-9]{24}$"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Başarılı detay yanıtı.",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvoiceDetailResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			},
			"delete": {
				"operationId": "cancelInvoiceDraft",
				"summary": "Taslak fatura iptali",
				"description": "Taslak faturayı iptal eder. **Yalnız taslak iptal edilir; kesilmiş fatura bu uçtan silinemez** ve denendiğinde `409` döner.\n\n`id` iki değerden biri olabilir:\n\n- **Taslak `uuid`** (`POST /v1/invoices` taslak cevabındaki `uuid`) — e-belge servisindeki taslak silinir.\n- **Kayıt kimliği** (serbest fatura taslağının `sourceId` değeri) — gönderilmemiş yerel fatura kaydı silinir.",
				"tags": ["Invoices"],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"description": "Taslak uuid veya gönderilmemiş fatura kaydının kimliği.",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Taslak iptal edildi.",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvoiceDraftCancelResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"409": {
						"description": "Kesilmiş fatura iptal edilemez.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"422": {
						"description": "Firma e-belge entegrasyonu tanımlı değil.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					},
					"502": {
						"description": "E-belge servisi hatası.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/v1/bank-accounts": {
			"get": {
				"operationId": "listBankAccounts",
				"summary": "Banka hesapları ve bakiyeleri",
				"description": "Şirketin gerçek banka hesaplarını (bank=true; kasa/pos/kredi hariç) bakiye ve son sorgu bilgisiyle listeler. Arşivli hesaplar varsayılan olarak dönmez; archived=true ile sorgulanabilir. updatedAt bakiye/senkron güncellemelerinde de ilerler; incremental senkronizasyon için updatedSince + sort=updatedAt:asc önerilir. Tazelik sinyali ayrıca lastCheckAt alanıdır.",
				"tags": ["Bank accounts"],
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"required": false,
						"description": "Sayfa numarası (en az 1).",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"default": 1
						}
					},
					{
						"name": "pageSize",
						"in": "query",
						"required": false,
						"description": "Sayfa başına kayıt (1-100).",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100,
							"default": 25
						}
					},
					{
						"name": "sort",
						"in": "query",
						"required": false,
						"description": "Sıralama: alan:asc|desc. İzinli alanlar: createdDate, name, balance, updatedAt. Varsayılan createdDate:asc.",
						"schema": {
							"type": "string",
							"pattern": "^(createdDate|name|balance|updatedAt)(:(asc|desc))?$"
						}
					},
					{
						"name": "q",
						"in": "query",
						"required": false,
						"description": "Hesap adında büyük/küçük harf duyarsız arama.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "archived",
						"in": "query",
						"required": false,
						"description": "Arşiv durumu. Verilmezse yalnız arşivsiz hesaplar döner.",
						"schema": {
							"type": "boolean"
						}
					},
					{
						"name": "currency",
						"in": "query",
						"required": false,
						"description": "Para birimi (büyük harfe normalize edilir).",
						"schema": {
							"type": "string"
						},
						"example": "TRY"
					},
					{
						"name": "bankCode",
						"in": "query",
						"required": false,
						"description": "Banka kodu.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "isApi",
						"in": "query",
						"required": false,
						"description": "true: yalnız banka entegrasyonu bağlı hesaplar.",
						"schema": {
							"type": "boolean"
						}
					},
					{
						"name": "updatedSince",
						"in": "query",
						"required": false,
						"description": "ISO-8601 tarih; yalnız bu tarihte veya sonra güncellenen kayıtlar döner (updatedAt >=). Bakiye/senkron güncellemesi de updatedAt'i ilerletir.",
						"schema": {
							"type": "string",
							"format": "date-time"
						},
						"example": "2026-09-01T00:00:00.000Z"
					}
				],
				"responses": {
					"200": {
						"description": "Başarılı liste yanıtı.",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BankAccountListResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/bank-accounts/{id}": {
			"get": {
				"operationId": "getBankAccount",
				"summary": "Banka hesabı detayı",
				"description": "Tek banka hesabının geniş kaydını döner: alt hesaplar (subAccounts), bloke/son ödeme günü (expiryDay) ve komisyon bilgisi dahil. Entegrasyon kimlik bilgileri (integrationsData) hiçbir uçta dönmez.",
				"tags": ["Bank accounts"],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"description": "Kayıt kimliği (ObjectId).",
						"schema": {
							"type": "string",
							"pattern": "^[a-fA-F0-9]{24}$"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Başarılı detay yanıtı.",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BankAccountDetailResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/customers/sanction-checks": {
			"get": {
				"operationId": "listSanctionChecks",
				"summary": "Yaptırım sorgu geçmişi",
				"description": "Şirkete ait MASAK/WANTED/PEP sorgu loglarını listeler (en yeni önce, createdAt:desc varsayılanıyla). Sorgu sonucu içeriği (data) bu uçta dönmez; detay ucundadır. Bilinmeyen filter alanı 400 VALIDATION_FAILED döner.",
				"tags": ["Customers"],
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"required": false,
						"description": "Sayfa numarası (en az 1).",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"default": 1
						}
					},
					{
						"name": "pageSize",
						"in": "query",
						"required": false,
						"description": "Sayfa başına kayıt (1-100).",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100,
							"default": 25
						}
					},
					{
						"name": "sort",
						"in": "query",
						"required": false,
						"description": "Sıralama: alan:asc|desc. İzinli alanlar: createdAt, updatedAt. Varsayılan createdAt:desc.",
						"schema": {
							"type": "string",
							"pattern": "^(createdAt|updatedAt)(:(asc|desc))?$"
						}
					},
					{
						"name": "idNo",
						"in": "query",
						"required": false,
						"description": "Sorgulanan TCKN/VKN tam eşleşme (ana filtre).",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "fullName",
						"in": "query",
						"required": false,
						"description": "Ad soyad tam eşleşme.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "startDate",
						"in": "query",
						"required": false,
						"description": "ISO-8601 tarih; createdAt >= startDate.",
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "endDate",
						"in": "query",
						"required": false,
						"description": "ISO-8601 tarih; createdAt <= endDate.",
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "updatedSince",
						"in": "query",
						"required": false,
						"description": "ISO-8601 tarih; yalnız bu tarihte veya sonra güncellenen kayıtlar döner (updatedAt >=).",
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Başarılı liste yanıtı.",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SanctionCheckListResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			},
			"post": {
				"operationId": "createSanctionCheck",
				"summary": "Yaptırım sorgusu tetikleme",
				"description": "idNo ile MASAK yaptırım listesi sorgusu çalıştırır; nameSurname verilirse ek olarak wanted listesi (TR collation, ad bazlı) sorgulanır. Sonuç log kaydı olarak yazılır (GET /v1/customers/sanction-checks ile geçmişte görünür) ve eşleşme içerikleriyle birlikte 201 döner.",
				"tags": ["Customers"],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SanctionCheckCreateRequest"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Sorgu çalıştırıldı ve log kaydı oluşturuldu.",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SanctionCheckCreateResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/customers/sanction-checks/{id}": {
			"get": {
				"operationId": "getSanctionCheck",
				"summary": "Yaptırım sorgu kaydı detayı",
				"description": "Tek sorgu kaydının geniş halini döner: data alanı yaptırım listesi eşleşme içeriğini taşır.",
				"tags": ["Customers"],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"description": "Kayıt kimliği (ObjectId).",
						"schema": {
							"type": "string",
							"pattern": "^[a-fA-F0-9]{24}$"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Başarılı detay yanıtı.",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SanctionCheckDetailResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/bank-queries": {
			"post": {
				"operationId": "triggerBankQueries",
				"summary": "Banka sorgusu tetikleme",
				"description": "Şirketin entegre banka hesapları için hareket sorgusu tetikler. accountId verilirse tek hesap, verilmezse tüm entegre hesaplar sırayla çalıştırılır. Cron kilit mekanizmasına saygılıdır: o anda işlenen hesap skipped döner. Not: bu uç gerçek banka API çağrıları yapar ve hesap sayısına bağlı olarak uzun sürebilir.",
				"tags": ["Bank accounts"],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/BankQueryTriggerRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Tetikleme tamamlandı (hesap bazında sonuçlar data.results içinde).",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BankQueryTriggerResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/kmts-verifications": {
			"get": {
				"operationId": "listKmtsVerifications",
				"summary": "KMTS sorgu geçmişi",
				"description": "Şirketin masaüstü, mobil uygulama ve API üzerinden yaptığı KMTS güvenlikli etiket/işaret sorgularını en yeni kayıt önce olacak şekilde listeler. Sonuç, fiziksel ürünün orijinalliği için tek başına garanti değildir.",
				"tags": ["KMTS"],
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"required": false,
						"schema": {
							"type": "integer",
							"minimum": 1,
							"default": 1
						}
					},
					{
						"name": "pageSize",
						"in": "query",
						"required": false,
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100,
							"default": 25
						}
					},
					{
						"name": "sort",
						"in": "query",
						"required": false,
						"description": "Sıralama: createdAt veya updatedAt alanı ve asc/desc yönü. Yön yazılmazsa asc; sort gönderilmezse createdAt:desc kullanılır.",
						"schema": {
							"type": "string",
							"pattern": "^(createdAt|updatedAt)(:(asc|desc))?$"
						}
					},
					{
						"name": "scannedCode",
						"in": "query",
						"required": false,
						"description": "Normalize edilmiş etiket/işaret numarasıyla tam eşleşme.",
						"schema": {
							"type": "string",
							"maxLength": 64
						}
					},
					{
						"name": "outcome",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"enum": ["pending", "verified", "not_found", "invalid", "provider_error"]
						}
					},
					{
						"name": "source",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"enum": ["desktop", "mobile", "api"]
						}
					},
					{
						"name": "startDate",
						"in": "query",
						"required": false,
						"description": "ISO-8601 tarih; checkedAt >= startDate.",
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "endDate",
						"in": "query",
						"required": false,
						"description": "ISO-8601 tarih; checkedAt <= endDate.",
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Başarılı liste yanıtı.",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/KmtsVerificationListResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			},
			"post": {
				"operationId": "createKmtsVerification",
				"summary": "KMTS etiketi veya işareti sorgulama",
				"description": "Etiket/işaret numarasını KMTS servisinde sorgular ve sonucu şirket geçmişine kaydeder. Otomatik tekrar yapılmaz. Aktör başına dakikada 10, şirket toplamında dakikada 60 sorgu sınırı vardır.",
				"tags": ["KMTS"],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/KmtsVerificationRequest"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "KMTS sorgusu tamamlandı ve geçmiş kaydı oluşturuldu.",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/KmtsVerificationResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"429": {
						"$ref": "#/components/responses/KmtsRateLimited"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					},
					"502": {
						"$ref": "#/components/responses/KmtsUpstreamError"
					},
					"503": {
						"$ref": "#/components/responses/KmtsRateLimitUnavailable"
					},
					"504": {
						"$ref": "#/components/responses/KmtsUpstreamTimeout"
					}
				}
			}
		},
		"/v1/kmts-verifications/{id}": {
			"get": {
				"operationId": "getKmtsVerification",
				"summary": "KMTS sorgu kaydı detayı",
				"description": "Şirkete ait tek KMTS sorgu kaydının izin verilen ürün ve sonuç alanlarını döner.",
				"tags": ["KMTS"],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"description": "KMTS sorgu kaydı kimliği.",
						"schema": {
							"type": "string",
							"pattern": "^[a-fA-F0-9]{24}$"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Başarılı detay yanıtı.",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/KmtsVerificationResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"403": {
						"$ref": "#/components/responses/Forbidden"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/customers/events": {
			"get": {
				"operationId": "listCustomerEvents",
				"summary": "Müşteri sicil/şüphe olayları",
				"description": "Müşterilere ait sicil (şüphe) olay kayıtlarını listeler; varsayılan sıralama eventDate:desc (en yeni önce). Bilinmeyen filter alanı 400 VALIDATION_FAILED döner.",
				"tags": ["Customers"],
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"required": false,
						"schema": {
							"type": "integer",
							"minimum": 1,
							"default": 1
						}
					},
					{
						"name": "pageSize",
						"in": "query",
						"required": false,
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100,
							"default": 25
						}
					},
					{
						"name": "sort",
						"in": "query",
						"required": false,
						"description": "İzinli alanlar: eventDate, createdAt, updatedAt. Varsayılan eventDate:desc.",
						"schema": {
							"type": "string",
							"pattern": "^(eventDate|createdAt|updatedAt)(:(asc|desc))?$"
						}
					},
					{
						"name": "idNo",
						"in": "query",
						"required": false,
						"description": "Müşteri TCKN/VKN tam eşleşme.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "recordLevel",
						"in": "query",
						"required": false,
						"description": "0 kayıt yok, 1 normal, 2 güvenli, 3 riskli, 4 yasaklı.",
						"schema": {
							"type": "integer",
							"minimum": 0,
							"maximum": 4
						}
					},
					{
						"name": "startDate",
						"in": "query",
						"required": false,
						"description": "ISO-8601; eventDate >= startDate.",
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "endDate",
						"in": "query",
						"required": false,
						"description": "ISO-8601; eventDate <= endDate.",
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "updatedSince",
						"in": "query",
						"required": false,
						"description": "ISO-8601; updatedAt >= değer.",
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Başarılı liste yanıtı.",
						"headers": {
							"x-request-id": {
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CustomerEventListResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/customers/events/{id}": {
			"get": {
				"operationId": "getCustomerEvent",
				"summary": "Müşteri sicil olayı detayı",
				"tags": ["Customers"],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"pattern": "^[a-fA-F0-9]{24}$"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Başarılı detay yanıtı.",
						"headers": {
							"x-request-id": {
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CustomerEventDetailResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/customers/histories": {
			"get": {
				"operationId": "listCustomerHistories",
				"summary": "Müşteri değişiklik denetimi listesi",
				"description": "Müşteri kayıtlarındaki önemli değişikliklerin (update/remove) denetim geçmişi; varsayılan createdAt:desc. Bilinmeyen filter alanı 400 VALIDATION_FAILED döner.",
				"tags": ["Customers"],
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"required": false,
						"schema": {
							"type": "integer",
							"minimum": 1,
							"default": 1
						}
					},
					{
						"name": "pageSize",
						"in": "query",
						"required": false,
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100,
							"default": 25
						}
					},
					{
						"name": "sort",
						"in": "query",
						"required": false,
						"description": "İzinli alanlar: createdAt, updatedAt. Varsayılan createdAt:desc.",
						"schema": {
							"type": "string",
							"pattern": "^(createdAt|updatedAt)(:(asc|desc))?$"
						}
					},
					{
						"name": "customerId",
						"in": "query",
						"required": false,
						"description": "Müşteri kayıt kimliği (ObjectId).",
						"schema": {
							"type": "string",
							"pattern": "^[a-fA-F0-9]{24}$"
						}
					},
					{
						"name": "type",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"enum": ["update", "remove"]
						}
					},
					{
						"name": "startDate",
						"in": "query",
						"required": false,
						"description": "ISO-8601; createdAt >= startDate.",
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "endDate",
						"in": "query",
						"required": false,
						"description": "ISO-8601; createdAt <= endDate.",
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "updatedSince",
						"in": "query",
						"required": false,
						"description": "ISO-8601; updatedAt >= değer.",
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Başarılı liste yanıtı.",
						"headers": {
							"x-request-id": {
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CustomerHistoryListResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/customers/histories/{id}": {
			"get": {
				"operationId": "getCustomerHistory",
				"summary": "Müşteri değişiklik kaydı detayı",
				"description": "Detayda data alanı değişiklik anlık görüntüsünü taşır.",
				"tags": ["Customers"],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"pattern": "^[a-fA-F0-9]{24}$"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Başarılı detay yanıtı.",
						"headers": {
							"x-request-id": {
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CustomerHistoryDetailResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/customers/check": {
			"get": {
				"operationId": "getComplianceCheck",
				"summary": "Uyum durum sorgusu (kayıt + sicil + doğrulama)",
				"description": "idNo veya ad soyad ile tek çağrıda uyum durumu döner: müşteri kaydı varsa dar kayıt + recordLevel + sicil olayları; yoksa exists=false. Ayrıca son MASAK sorgusu ve müşteri tanı formu durumu (onaylı/bekleyen) bilgisi döner. Bilinmeyen parametre yoktur; idNo veya nameSurname'den en az biri zorunludur.",
				"tags": ["Customers"],
				"parameters": [
					{
						"name": "idNo",
						"in": "query",
						"required": false,
						"description": "TCKN/VKN/pasaport veya belge numarası (nameSurname ile birlikte en az biri zorunlu).",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "nameSurname",
						"in": "query",
						"required": false,
						"description": "Ad soyad / ünvan (büyük-küçük harf duyarsız arama).",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Uyum durumu.",
						"headers": {
							"x-request-id": {
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ComplianceCheckResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/expenses": {
			"get": {
				"operationId": "listExpenses",
				"summary": "Gider pusulası listesi",
				"description": "Şirkete ait gider/pusula kayıtlarını listeler. formalized=true yalnız resmileşmiş (printStamp olan) kayıtları döner. Bilinmeyen filter alanı 400 VALIDATION_FAILED döner.",
				"tags": ["Expenses"],
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"required": false,
						"schema": {
							"type": "integer",
							"minimum": 1,
							"default": 1
						}
					},
					{
						"name": "pageSize",
						"in": "query",
						"required": false,
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100,
							"default": 25
						}
					},
					{
						"name": "sort",
						"in": "query",
						"required": false,
						"description": "İzinli alanlar: transactionDate, createdAt, updatedAt, amount. Varsayılan transactionDate:asc.",
						"schema": {
							"type": "string",
							"pattern": "^(transactionDate|createdAt|updatedAt|amount)(:(asc|desc))?$"
						}
					},
					{
						"name": "q",
						"in": "query",
						"required": false,
						"description": "Numerik değer idNo tam eşleşmesi, metin değer nameSurname araması.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "idNo",
						"in": "query",
						"required": false,
						"description": "Müşteri TCKN/VKN tam eşleşme.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "serial",
						"in": "query",
						"required": false,
						"description": "Belge seri.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "number",
						"in": "query",
						"required": false,
						"description": "Belge numarası.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "bankCode",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "isCheck",
						"in": "query",
						"required": false,
						"description": "Mahsup/pusula durumu.",
						"schema": {
							"type": "boolean"
						}
					},
					{
						"name": "isExcel",
						"in": "query",
						"required": false,
						"description": "Excel ile yüklenenler.",
						"schema": {
							"type": "boolean"
						}
					},
					{
						"name": "formalized",
						"in": "query",
						"required": false,
						"description": "true: yalnız resmileşmiş (printStamp olan) kayıtlar; false: resmileşmemişler.",
						"schema": {
							"type": "boolean"
						}
					},
					{
						"name": "startDate",
						"in": "query",
						"required": false,
						"description": "ISO-8601; transactionDate >= startDate.",
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "endDate",
						"in": "query",
						"required": false,
						"description": "ISO-8601; transactionDate <= endDate.",
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "updatedSince",
						"in": "query",
						"required": false,
						"description": "ISO-8601; updatedAt >= değer.",
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Başarılı liste yanıtı.",
						"headers": {
							"x-request-id": {
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ExpenseListResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			},
			"post": {
				"operationId": "createExpense",
				"summary": "Gider pusulası oluşturma",
				"description": "Gider pusulası oluşturur. İki kaynak desteklenir:\n\n- `source: \"bankTransaction\"` — aktif bir banka hesabına bağlı, resmileştirilmemiş **giden** banka hareketinden. Hesap pasifse önizleme, taslak ve oluşturma `409 BANK_ACCOUNT_INACTIVE` ile reddedilir. Hareket resmileştirilmiş olarak işaretlenir.\n- `source: \"manual\"` — banka hareketine bağlı olmayan serbest gider pusulası.\n\nVarsayılan olarak pusula **kesinleştirilir**: seri-sıra numarası verilir, yazdırma tarihi yazılır ve stok hareketi oluşur. `isDraft: true` gönderildiğinde kayıt oluşur ama kesinleştirilmez; bu kayıt `DELETE /v1/expenses/{id}` ile iptal edilebilir.\n\nSeri ve sıra numarası verilmezse firma ayarından üretilir ve kullanımda olmadığı doğrulanır.",
				"tags": ["Expenses"],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExpenseCreateRequest"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Gider pusulası oluşturuldu.",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ExpenseCreateResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"409": {
						"description": "Banka hareketi pasif hesaba bağlıysa kod `BANK_ACCOUNT_INACTIVE` olur. Hareket resmileştirilmiş veya aynı gün/kimlik/tutar ile pusula oluşturulmuş da olabilir (details[0] nedeni gösterir).",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"422": {
						"description": "İş kuralı hatası (ayar eksik/pasif, TCKN/VKN doğrulanamadı, e-fatura mükellefi, kalem hesaplanamadı).",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/expenses/{id}": {
			"get": {
				"operationId": "getExpense",
				"summary": "Gider pusulası detayı",
				"description": "Tek gider kaydının geniş halini döner: kalem satırları (lines), müşteri bilgisi (customerInfo) ve takas fatura numaraları (invoiceNo) dahil.",
				"tags": ["Expenses"],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"pattern": "^[a-fA-F0-9]{24}$"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Başarılı detay yanıtı.",
						"headers": {
							"x-request-id": {
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ExpenseDetailResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			},
			"delete": {
				"operationId": "cancelExpenseDraft",
				"summary": "Kesinleştirilmemiş gider pusulasının iptali",
				"description": "Kesinleştirilmemiş (taslak) gider pusulasını siler. **Kesinleştirilmiş pusula bu uçtan silinemez** ve denendiğinde `409` döner. Silme sırasında bağlı giden banka hareketi yeniden işlenebilir duruma döner.",
				"tags": ["Expenses"],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"description": "Gider pusulası kayıt kimliği.",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Taslak pusula silindi.",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ExpenseDeleteResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"409": {
						"description": "Kesinleştirilmiş gider pusulası iptal edilemez.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/invoices/templates": {
			"get": {
				"operationId": "listInvoiceTemplates",
				"summary": "Fatura kalem şablonları",
				"description": "Fatura kesiminde kullanılabilecek kalem şablonlarının listesi. Dönen `key` değeri, fatura oluşturma uçlarındaki `templateKey` alanında kullanılır. Şablonun iç hesap parametreleri (oran, işçilik, maliyet, ek kalemler) dışarı verilmez. `exchange` alanı, şablonun mal türü için güncel liste fiyatıdır.",
				"tags": ["Invoices"],
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"required": false,
						"description": "Sayfa numarası (en az 1).",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"default": 1
						}
					},
					{
						"name": "pageSize",
						"in": "query",
						"required": false,
						"description": "Sayfa başına kayıt (1-100).",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100,
							"default": 25
						}
					},
					{
						"name": "material",
						"in": "query",
						"required": false,
						"description": "Mal türü filtresi.",
						"schema": {
							"type": "string",
							"enum": ["gold", "silver", "platin", "paladyum", "usd", "eur", "try"]
						}
					},
					{
						"name": "type",
						"in": "query",
						"required": false,
						"description": "Şablon türü filtresi.",
						"schema": {
							"type": "string",
							"enum": ["reason", "exceptional", "normal", "auto"]
						}
					},
					{
						"name": "statusType",
						"in": "query",
						"required": false,
						"description": "Kullanım alanı filtresi. Varsayılan olarak yalnız `all` ve `invoice` şablonları listelenir.",
						"schema": {
							"type": "string",
							"enum": ["all", "invoice", "expense"]
						}
					}
				],
				"responses": {
					"200": {
						"description": "Şablon listesi.",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvoiceTemplateListResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/invoices/preview": {
			"post": {
				"operationId": "previewInvoice",
				"summary": "Fatura ön hesaplama",
				"description": "Fatura kesilmeden önce kalemleri, fatura türünü ve toplamları hesaplar. **Hiçbir yan etkisi yoktur:** e-belge servisine gönderim yapılmaz, veritabanına kayıt yazılmaz. `source: \"bankTransaction\"` kullanıldığında hareketin bağlı olduğu banka hesabı aktif olmalıdır; pasif hesap `409 BANK_ACCOUNT_INACTIVE` döndürür. Gövde, `POST /v1/invoices` ile aynıdır; yalnız `isDraft`, `allowDuplicate` ve `allowReissue` alanları kullanılamaz. Dönen `lines` ve `totals`, fatura kesildiğinde `GET /v1/invoices/{id}` içinde görünecek değerlerle aynı hesaba dayanır.",
				"tags": ["Invoices"],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/InvoicePreviewRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Hesaplama sonucu.",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvoicePreviewResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"409": {
						"description": "Banka hareketi pasif hesaba bağlı (`BANK_ACCOUNT_INACTIVE`), faturalandırılmış veya faturalandırma için planlanmış.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"422": {
						"description": "İş kuralı hatası (kalem hesaplanamadı, tutar çok düşük, güncel kur bulunamadı vb.).",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/expenses/templates": {
			"get": {
				"operationId": "listExpenseTemplates",
				"summary": "Gider pusulası kalem şablonları",
				"description": "Gider pusulasında kullanılabilecek kalem şablonları. Dönen `key` değeri, gider pusulası uçlarındaki `templateKey` alanında kullanılır. `isDefault`, firmanın gider pusulası ayarındaki varsayılan şablonu gösterir. Şablonun iç hesap parametreleri dışarı verilmez.",
				"tags": ["Expenses"],
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"required": false,
						"description": "Sayfa numarası (en az 1).",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"default": 1
						}
					},
					{
						"name": "pageSize",
						"in": "query",
						"required": false,
						"description": "Sayfa başına kayıt (1-100).",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100,
							"default": 25
						}
					},
					{
						"name": "material",
						"in": "query",
						"required": false,
						"description": "Mal türü filtresi.",
						"schema": {
							"type": "string",
							"enum": ["gold", "silver", "platin", "paladyum", "usd", "eur", "try"]
						}
					},
					{
						"name": "type",
						"in": "query",
						"required": false,
						"description": "Şablon türü filtresi.",
						"schema": {
							"type": "string",
							"enum": ["reason", "exceptional", "normal", "auto"]
						}
					},
					{
						"name": "statusType",
						"in": "query",
						"required": false,
						"description": "Kullanım alanı. Varsayılan olarak `all` ve `expense` şablonları listelenir.",
						"schema": {
							"type": "string",
							"enum": ["all", "expense"]
						}
					}
				],
				"responses": {
					"200": {
						"description": "Şablon listesi.",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ExpenseTemplateListResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		},
		"/v1/expenses/preview": {
			"post": {
				"operationId": "previewExpense",
				"summary": "Gider pusulası ön hesaplama",
				"description": "Gider pusulası oluşturulmadan önce kalemi (miktar, birim fiyat, mahiyet) ve müşteri bilgisini hesaplar. **Hiçbir yan etkisi yoktur:** kayıt oluşmaz, seri-sıra numarası tüketilmez. `source: \"bankTransaction\"` kullanıldığında hareketin bağlı olduğu banka hesabı aktif olmalıdır; pasif hesap `409 BANK_ACCOUNT_INACTIVE` döndürür. Gövde `POST /v1/expenses` ile aynıdır; yalnız `isDraft` ve `allowDuplicate` kullanılamaz.",
				"tags": ["Expenses"],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExpensePreviewRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Hesaplama sonucu.",
						"headers": {
							"x-request-id": {
								"description": "İstek kimliği; yanıt gövdesindeki meta.requestId ile aynıdır.",
								"schema": {
									"type": "string",
									"format": "uuid"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ExpensePreviewResponse"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/ValidationFailed"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"409": {
						"description": "Banka hareketi pasif hesaba bağlı (`BANK_ACCOUNT_INACTIVE`) veya resmileştirilmiş.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"422": {
						"description": "İş kuralı hatası (ayar eksik/pasif, TCKN/VKN doğrulanamadı, e-fatura mükellefi, kalem hesaplanamadı).",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"$ref": "#/components/responses/InternalError"
					}
				}
			}
		}
	},
	"components": {
		"securitySchemes": {
			"BasicAuth": {
				"type": "http",
				"scheme": "basic",
				"description": "Kullanıcı adı apiUserId, parola secretKey. Authorization: Basic base64(apiUserId:secretKey)"
			}
		},
		"schemas": {
			"CustomerListItem": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "Kayıt kimliği (ObjectId)."
					},
					"idNo": {
						"type": "string",
						"description": "TCKN / VKN / belge numarası. Tam ve maskesiz döner."
					},
					"idType": {
						"type": "string",
						"enum": ["person", "company"]
					},
					"idCardType": {
						"type": "string",
						"enum": ["idCard", "passport", "dlCard", "other"],
						"description": "dlCard = ehliyet."
					},
					"nameSurname": {
						"type": "string"
					},
					"phone": {
						"type": "string",
						"nullable": true
					},
					"email": {
						"type": "string",
						"nullable": true
					},
					"nationality": {
						"type": "string",
						"example": "TR"
					},
					"countries": {
						"type": "string",
						"nullable": true
					},
					"states": {
						"type": "string",
						"nullable": true
					},
					"cities": {
						"type": "string",
						"nullable": true
					},
					"labels": {
						"type": "array",
						"items": {
							"type": "string"
						}
					},
					"recordLevel": {
						"type": "integer",
						"enum": [0, 1, 2, 3, 4],
						"description": "0 kayıt yok, 1 normal, 2 güvenli, 3 riskli, 4 yasaklı."
					},
					"isVerify": {
						"type": "boolean",
						"description": "Müşteri tanı (doğrulama) durumu."
					},
					"isValid": {
						"type": "boolean",
						"description": "Kimlik doğrulama (TCKN/NVI) durumu."
					},
					"isPhoto": {
						"type": "boolean",
						"description": "Fotoğraf/belge görseli varlığı."
					},
					"saveType": {
						"type": "string",
						"enum": ["bank", "manual", "idCard", "accord", "api"],
						"description": "Kaydın oluşma kaynağı."
					},
					"createdDate": {
						"type": "string",
						"format": "date-time"
					},
					"lastDate": {
						"type": "string",
						"format": "date-time"
					},
					"updatedAt": {
						"type": "string",
						"format": "date-time"
					}
				}
			},
			"CustomerDetail": {
				"allOf": [
					{
						"$ref": "#/components/schemas/CustomerListItem"
					},
					{
						"type": "object",
						"properties": {
							"name": {
								"type": "string",
								"nullable": true
							},
							"surname": {
								"type": "string",
								"nullable": true
							},
							"ownerName": {
								"type": "string",
								"nullable": true,
								"description": "Yetkili adı (kurumsal kayıtlarda)."
							},
							"birthplace": {
								"type": "string",
								"nullable": true
							},
							"birthday": {
								"type": "string",
								"nullable": true
							},
							"year": {
								"type": "string",
								"nullable": true
							},
							"phone2": {
								"type": "string",
								"nullable": true
							},
							"taxOffice": {
								"type": "string",
								"nullable": true
							},
							"registryNo": {
								"type": "string",
								"nullable": true,
								"description": "Ticaret sicil no."
							},
							"cmpNo": {
								"type": "string",
								"nullable": true,
								"description": "Kuyum yetki belge no."
							},
							"activityName": {
								"type": "string",
								"nullable": true,
								"description": "Faaliyet alanı."
							},
							"naceCode": {
								"type": "string",
								"nullable": true
							},
							"countriesCode": {
								"type": "string",
								"nullable": true
							},
							"statesCode": {
								"type": "string",
								"nullable": true
							},
							"address": {
								"type": "string",
								"nullable": true
							},
							"motherName": {
								"type": "string",
								"nullable": true
							},
							"fatherName": {
								"type": "string",
								"nullable": true
							},
							"isAbroad": {
								"type": "boolean",
								"nullable": true
							},
							"jobName": {
								"type": "string",
								"nullable": true,
								"description": "Meslek."
							},
							"ibans": {
								"type": "array",
								"items": {
									"type": "string"
								}
							},
							"bankCodes": {
								"type": "array",
								"items": {
									"type": "string"
								}
							},
							"docTypes": {
								"type": "array",
								"items": {
									"type": "string"
								},
								"description": "Geçerli ve var olan belge türleri."
							},
							"customerRelation": {
								"type": "object",
								"nullable": true,
								"description": "Kurumsal kayıtta birincil temsilci bilgisi."
							},
							"verification": {
								"$ref": "#/components/schemas/ComplianceCheckVerification"
							},
							"masak": {
								"$ref": "#/components/schemas/ComplianceCheckMasak"
							},
							"events": {
								"$ref": "#/components/schemas/CustomerEventsSummary"
							}
						}
					}
				]
			},
			"CustomerEventsSummary": {
				"type": "object",
				"description": "Müşteri sicil olayı özeti — toplam olay sayısı ve en yeni olay (yoksa null). Tam liste GET /v1/customers/events ile alınır.",
				"properties": {
					"count": {
						"type": "integer"
					},
					"latest": {
						"$ref": "#/components/schemas/ComplianceCheckEvent"
					}
				}
			},
			"MetaBase": {
				"type": "object",
				"properties": {
					"requestId": {
						"type": "string",
						"format": "uuid"
					},
					"timestamp": {
						"type": "string",
						"format": "date-time"
					}
				},
				"required": ["requestId", "timestamp"]
			},
			"MetaList": {
				"allOf": [
					{
						"$ref": "#/components/schemas/MetaBase"
					},
					{
						"type": "object",
						"properties": {
							"page": {
								"type": "integer"
							},
							"limit": {
								"type": "integer"
							},
							"total": {
								"type": "integer"
							},
							"pages": {
								"type": "integer"
							}
						},
						"required": ["page", "limit", "total", "pages"]
					}
				]
			},
			"CustomerListResponse": {
				"type": "object",
				"properties": {
					"success": {
						"type": "boolean",
						"enum": [true]
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/CustomerListItem"
						}
					},
					"meta": {
						"$ref": "#/components/schemas/MetaList"
					}
				},
				"required": ["success", "data", "meta"]
			},
			"CustomerDetailResponse": {
				"type": "object",
				"properties": {
					"success": {
						"type": "boolean",
						"enum": [true]
					},
					"data": {
						"$ref": "#/components/schemas/CustomerDetail"
					},
					"meta": {
						"$ref": "#/components/schemas/MetaBase"
					}
				},
				"required": ["success", "data", "meta"]
			},
			"CustomerCreateRequest": {
				"type": "object",
				"description": "Hızlı cari ekleme gövdesi — data zarfı zorunludur. Salt okunur alanlar (recordLevel, isVerify, isValid, isPhoto, saveType, sourceDeviceId, sourcePosId, sourceDeviceTitle, docTypes, year, uuid, companiesId, userId, branchId vb.) ve bilinmeyen alanlar 400 döner.",
				"properties": {
					"data": {
						"type": "object",
						"properties": {
							"idNo": {
								"type": "string",
								"description": "TCKN / VKN / belge numarası (zorunlu)."
							},
							"nameSurname": {
								"type": "string",
								"description": "Ad soyad / ünvan (zorunlu)."
							},
							"idType": {
								"type": "string",
								"enum": ["person", "company"],
								"default": "person"
							},
							"idCardType": {
								"type": "string",
								"enum": ["idCard", "passport", "dlCard", "other"],
								"default": "idCard"
							},
							"nationality": {
								"type": "string",
								"default": "TR"
							},
							"birthplace": {
								"type": "string"
							},
							"birthday": {
								"type": "string"
							},
							"phone": {
								"type": "string"
							},
							"phone2": {
								"type": "string"
							},
							"email": {
								"type": "string"
							},
							"iban": {
								"type": "string"
							},
							"taxOffice": {
								"type": "string"
							},
							"registryNo": {
								"type": "string"
							},
							"activityName": {
								"type": "string"
							},
							"naceCode": {
								"type": "string"
							},
							"countriesCode": {
								"type": "string"
							},
							"countries": {
								"type": "string"
							},
							"statesCode": {
								"type": "string"
							},
							"states": {
								"type": "string"
							},
							"cities": {
								"type": "string"
							},
							"address": {
								"type": "string"
							},
							"motherName": {
								"type": "string"
							},
							"fatherName": {
								"type": "string"
							},
							"jobName": {
								"type": "string"
							},
							"isAbroad": {
								"type": "boolean"
							},
							"customerRelation": {
								"$ref": "#/components/schemas/CustomerRelation"
							}
						},
						"required": ["idNo", "nameSurname"]
					}
				},
				"required": ["data"]
			},
			"CustomerCreateResponse": {
				"type": "object",
				"properties": {
					"success": {
						"type": "boolean",
						"enum": [true]
					},
					"data": {
						"$ref": "#/components/schemas/CustomerListItem"
					},
					"meta": {
						"$ref": "#/components/schemas/MetaBase"
					}
				},
				"required": ["success", "data", "meta"]
			},
			"CompanyDocumentInput": {
				"type": "object",
				"description": "Kurumsal belge — Accord ile aynı doğrulama: PDF/JPEG/PNG, belge başına en fazla 2 MiB, dosya uzantısı ve içerik imzası MIME türüyle eşleşmeli.",
				"properties": {
					"fileName": {
						"type": "string",
						"description": "Dosya adı (zorunlu); uzantısı MIME türüyle eşleşmeli."
					},
					"mimeType": {
						"type": "string",
						"enum": ["application/pdf", "image/jpeg", "image/png"]
					},
					"content": {
						"type": "string",
						"description": "Base64 içerik veya Data URL (zorunlu)."
					}
				},
[...]
